<%= render "challenge/show/partials/conversation__breadcrumb" %>

<div class="conversation__main-wrapper">
  <section class="conversation__header_container">
    <%= render "scorecard/show/partials/conversation__header" %>
  </section>
  <!--hr seperador de bloque-->
  <%= render "challenge/show/partials/conversation__block_divider" %>

  <%= render "scorecard/show/partials/conversation__status" %>
  <%= render "scorecard/show/partials/conversation__scorecard" %>

</div>
