
<%= render "challenge/show/partials/header/conversation__header_actions" %>

<%= render "scorecard/show/partials/header/conversation__header_type" %>

<%= render "challenge/show/partials/header/conversation__header_content" %>

<%= render "challenge/show/partials/header/conversation__header_stats" %>

<div class="conversation__header_attachments-list">
  <%= render "challenge/show/partials/header/conversation__header_attachment_list" %>
</div>
